<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>StockPile</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-light bg-white">
        <div class="col-4">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active mx-6">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/stocks">Stock Lookup</a>
            </li>
            <%= if @current_user do %>
              <li class="nav-item">
                <a class="nav-link" href="/investments">Invest</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile">My Profile</a>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="col-4">
          <%= if @current_user do %>
            <p class="my-3 text-right">
              User: <%= Map.get(@current_user, "user_name") %> |
              <%= link("Logout", to: Routes.session_path(@conn, :delete),
                method: :delete) %>
            </p>
          <% else %>
            <%= form_for @conn, Routes.session_path(@conn, :create),
                  [class: "form-inline"], fn f -> %>
            <%= text_input f, :user_name, class: "form-control", placeholder: "Username" %>
            <%= text_input f, :password, class: "form-control", placeholder: "Password", type: "password" %>
            <%= submit "Login", class: "btn btn-secondary" %>
          <% end %>
        <% end %>
        </div>
      </nav>
      <div class="row">
        <div class="col-12">
          <%= if get_flash(@conn, :info) do %>
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <% end %>
          <%= if get_flash(@conn, :error) do %>
            <p class="alert alert-danger" role="alert">
              <%= get_flash(@conn, :error) %>
            </p>
          <% end %>
        </div>
      </div>
      <%= render @view_module, @view_template, assigns %>
    </div>
    <script type="text/javascript">
      var token = <%= raw Jason.encode!(Plug.CSRFProtection.get_csrf_token()) %>;
    </script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
