<div class="row">
  <div class="col-12">
    <h1>Welcome to StockPile</h1>
    <%= if @current_user == nil do %>
      <p><a href="/register_broker">Register Broker Account</a><p>
      <p><a href="/register_dealer">Register Dealer Account</a><p>
    <% end %>
  </div>
</div>
